html{
    scroll-snap-type: y mandatory;
}
#cabbagemodel{
    position:absolute;
    height: 60%;
    width: 60%;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
}
section{
    height: 100vh;
    scroll-snap-align: center;
}
body{
    background-image: linear-gradient(to right,#4b8e4b, #023f02 );
}